In [5]:
import pandas as pd
from sqlalchemy import create_engine

try: 
    URL_PATH_FILE = 'excel/Financials Sample Data.csv'
    readFile = pd.read_csv(URL_PATH_FILE)
    print(readFile.head())
except FileNotFoundError:
    print(f'file {URL_PATH_FILE} tidak ditemukan')
except Exception as e:
    print(f'terjadi eror: {e}')

                          Account Businees Unit Currency  Year Scenario  \
0                           Sales      Software      USD  2012  Actuals
1              Cost of Goods Sold      Software      USD  2012  Actuals
2             Commissions Expense      Software      USD  2012  Actuals
3                 Payroll Expense      Software      USD  2012  Actuals
4  Travel & Entertainment Expense      Software      USD  2012  Actuals

             Jan            Feb            Mar            Apr            May  \
0   $90,924,002    $82,606,134    $72,780,220    $52,943,701    $77,528,109
1  ($41,623,278)  ($40,464,347)  ($30,806,326)  ($21,412,962)  ($37,047,252)
2   ($4,454,359)   ($3,386,032)   ($3,389,705)   ($2,149,257)   ($3,168,079)
3   ($9,901,680)   ($9,871,172)   ($8,459,696)   ($6,303,408)   ($8,493,573)
4     ($951,255)     ($838,985)     ($872,700)     ($624,416)     ($919,835)

             Jun            Jul            Aug            Sep            Oct  \
0   $96,384,524    $77,345,061    $98,290,873    $79,879,127    $95,373,403
1  ($44,819,597)  ($34,847,393)  ($47,903,350)  ($35,880,653)  ($44,982,115)
2   ($4,417,624)   ($3,386,461)   ($4,052,846)   ($3,418,737)   ($4,365,527)
3  ($11,082,494)   ($8,081,033)  ($11,070,018)   ($8,410,665)  ($10,081,727)
4   ($1,085,296)     ($818,602)   ($1,040,585)     ($803,190)   ($1,158,623)

             Nov            Dec
0   $54,887,908    $82,703,597
1  ($26,929,424)  ($34,233,473)
2   ($2,455,561)   ($3,646,726)
3   ($6,300,578)   ($9,099,438)
4     ($611,335)     ($941,542)

In [8]:
chuck_size = 10000
for chunk in pd.read_csv('excel/Financials Sample Data.csv', chunksize=chuck_size):
    print(chunk.head())

                          Account Businees Unit Currency  Year Scenario  \
0                           Sales      Software      USD  2012  Actuals
1              Cost of Goods Sold      Software      USD  2012  Actuals
2             Commissions Expense      Software      USD  2012  Actuals
3                 Payroll Expense      Software      USD  2012  Actuals
4  Travel & Entertainment Expense      Software      USD  2012  Actuals

             Jan            Feb            Mar            Apr            May  \
0   $90,924,002    $82,606,134    $72,780,220    $52,943,701    $77,528,109
1  ($41,623,278)  ($40,464,347)  ($30,806,326)  ($21,412,962)  ($37,047,252)
2   ($4,454,359)   ($3,386,032)   ($3,389,705)   ($2,149,257)   ($3,168,079)
3   ($9,901,680)   ($9,871,172)   ($8,459,696)   ($6,303,408)   ($8,493,573)
4     ($951,255)     ($838,985)     ($872,700)     ($624,416)     ($919,835)

             Jun            Jul            Aug            Sep            Oct  \
0   $96,384,524    $77,345,061    $98,290,873    $79,879,127    $95,373,403
1  ($44,819,597)  ($34,847,393)  ($47,903,350)  ($35,880,653)  ($44,982,115)
2   ($4,417,624)   ($3,386,461)   ($4,052,846)   ($3,418,737)   ($4,365,527)
3  ($11,082,494)   ($8,081,033)  ($11,070,018)   ($8,410,665)  ($10,081,727)
4   ($1,085,296)     ($818,602)   ($1,040,585)     ($803,190)   ($1,158,623)

             Nov            Dec
0   $54,887,908    $82,703,597
1  ($26,929,424)  ($34,233,473)
2   ($2,455,561)   ($3,646,726)
3   ($6,300,578)   ($9,099,438)
4     ($611,335)     ($941,542)

In [9]:
print(readFile.describe())

              Year
count   351.000000
mean   2017.923077
std       3.631184
min    2012.000000
25%    2015.000000
50%    2018.000000
75%    2021.000000
max    2023.000000

In [11]:
from sqlalchemy import create_engine
# SAVE DATA TO MYSQL DATABASE
URL_PATH_FILE_CREATE = 'excel/Financials Sample Data.csv'
read_file_csv = pd.read_csv(URL_PATH_FILE_CREATE)

username = 'root'
password = ''
host = 'localhost'
database = 'nesiatravel'

engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{database}")
read_file_csv.to_sql(name='financial_data_nesiatravel', con=engine, if_exists='replace', index=False)
print('data berhasil di simpan data base')

data berhasil di simpan data base